body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    color: #fff;
}

lottie-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.top-background lottie-player {
    z-index: -2;
    /* width: 100vw; */
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    color: #333;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

input:focus {
    border-color: #6a11cb;
    outline: none;
    box-shadow: 0 0 8px rgba(106, 17, 203, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
}

#errorMessage {
    color: #d9534f;
    font-size: 13px;
    margin-bottom: 10px;
    text-align: center;
}

#spinner {
    text-align: center;
    margin-top: 10px;
}

noscript {
    text-align: center;
    color: #d9534f;
    margin-top: 15px;
}

p {
    margin: 0;
}

.bottom-lottie>lottie-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -200vh;
    left: 10px;
    width: 80vw;
    height: auto;
    max-height: 170vh;
    /* Ensure it doesn’t exceed the viewport height */
}