  body {
      background-color: #f8f9fa;
  }

  .card {
      margin-top: 50px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .card-header {
      background-color: #007bff;
      color: white;
  }

  .text-error {
      color: red;
      font-size: 14px;
  }

  .form-group.sucess input {
      border: 2px solid green;
  }

  .form-group.error input {
      border: 2px solid red;
  }